<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 id="heading">
        Create User:-
    </h1>
        <form action="/insert" style="margin-left: 30px;" method="post" >
            <input type="text" placeholder="Enter Name" name="name" style="display: block; height:50px; margin-top: 20px; width: 50%;border-radius:15px;border: none;">
            <input type="text" placeholder="Enter Email" name="email" style="display: block; height:50px; margin-top: 20px; width: 50%;border-radius:15px;border: none;">
            <input type="text" placeholder="Enter Online Image Url" name="image" style="display: block; height:50px; margin-top: 20px; width: 50%;border-radius:15px;border: none;">
            <input type="submit" value="Click Me" style="margin-top: 10px; height: 40px;width: 160px; background-color: blue;color: white;border-radius: 15px;border: none;">
        </form>
        <div id="show_user">
            <a href="/user" style="color: white;">
                Show User
            </a>
        </div>
        
</body>
</html>